port="8080"
mode="dev"
url="http://localhost:8080"
key="key_must_length_32"

[logger]
level="info"

[storage]
path="/path/to/uploads"

[db]
username="username"
password="password"
database="db_name"
host="localhost"
port="3306"
tls=false

[redis]
host="127.0.0.1"
password=""
port="6379"
db=0

[queue]
prefix="test"
topics=["default"]
consumer="default"
consumer_group="default"

[oauth]
key="oauth_app_id_or_key"
secret="oauth_app_secret"
api="https://www.example.com"
publicKeyPath="/path/to/oauth-public.key"